<div class="row my-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       <div class="row mt-4">
            <div class="col-md-8 mb-3"><h1 class="text-center ">Product Table</h1></div>
            <div class="col-md-4 mb-3">
                <a href="/admin-panel">
                    <button type="button" class="btn btn-primary btn-lg" style="font-size: 20px !important;">Back to main menu
                    </button>
                </a>
            </div>
        </div>
    <table class="table table-success">
        <thead>
            <tr class="thead-dark">
            <th >Image 1</th>
            <th >Image 2</th>
            <th >Title</th>
            <th >Price</th>
            <th >Action</th>
            </tr>
        </thead>
        <tbody>
        {{#each doc}}
            <tr>
                <td>
                    <img src="{{this.imagePath1}}" style="width:100px; height:20vh !important">
                </td>
                <td>
                    <img src="{{this.imagePath2}}" style="width:100px; height:20vh !important">
                </td>
                <td>{{this.title}}</td>
                <td>{{this.price}}$</td>
                <td>
                    <a href="/edit-product/{{this._id}}">Edit</a> |
                    <a href="/delete-product/{{this._id}}">Delete</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
     <div class="col-md-2"></div>
</div>