   




 {{#if products}}
 <div class="row mt-5">
     <div class="col-md-5"></div>
     <div class="col-md-6">
         <h1>Your Cart<i class="fa fa-shopping-cart clr" aria-hidden="true"></i></h1>
     </div>
     <div class="col-md-1"></div>
 </div>
 <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
         <table class="table table-hover table-bordered" >
    <thead>
        <tr>
            <th>S no.</th>
            <th>Item Name</th>
            
            <th>Quantity</th>
            <th>Total Price of a product</th>
            <th>Reduce</th>
        </tr>
    </thead>
    <tbody> 
            {{#each products}}
                <tr >
                    <td>sno</td>
                    <td>{{this.item.title}}</td>
                    <td>{{this.qty}}</td>
                    <td>${{this.price}}</td>
                    <td>
                        <div class="btn-group">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reduce<span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/reduce/{{this.item._id}}">Reduce by 1</a>
                        <a class="dropdown-item" href="/remove/{{this.item._id}}">Remove All</a>
                        </div>
                        
                    </div>
                    </td>
                </tr>
        
        
            {{/each}}
            <tr>
            <td><strong>Total Amount</strong></td>
            <td><strong>{{totalPrice }}</strong></td>
        </tr>
    </tbody>
</table>
     </div>
     <div class="col-md2"></div>
 </div>
 <div class="row">
     <div class="col-md-5"></div>
        <div class="col-md-2">
          <a href="/check-out">  <button type="button" class="btn btn-success mb-5">Order Now</button></a>
        </div>
        <div class="col-md-4"></div>
</div>
 {{else}}
    <div class="row" style="background-color:white;">
        <div class="mt-5 col-sm-6 col-md-6 col-md-offset-3 col-sm offset-3 mb-5">
        <h1>No Items In cart</h1>
        <img src="/img/emptyCart.JPG">
        </div>
    </div>
          
{{/if}}