
<div class="row mt-5">
            <div class="col-md-8"><h1 class="text-center ">All Orders</h1></div>
            <div class="col-md-4">
                <a href="/admin-panel">
                    <button type="button" class="btn btn-primary btn-lg" style="font-size: 20px !important;">Back to main menu
                    </button>
                </a>
            </div>
        </div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-hover table-bordered" >
    <thead>
        <tr>
            <th>S no.</th>
            <th>Item Name</th>
            <th>Items price</th>
            <th>Items quantity</th>
            <th>User Name</th>
            <th>Total Price</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Alternate Phone number</th>
            <th>Area Zip code</th>
        </tr>
    </thead>
    <tbody> {{this.counter}}
            {{# each orders}}
                <tr >
                    <td>
                        {{this.counter}}
                    </td>
                     
                    <td>
                        {{# each this.items}}
                        <li class="list-group-item">
                            {{this.item.title}}
                        </li>
                        {{/each}}
                    </td>
                    <td>
                        {{# each this.items}}
                            <li class="list-group-item">
                            {{this.price}}
                            </li>
                        {{/each}}
                    </td>
                    <td>
                        {{# each this.items}}
                            <li class="list-group-item">
                            {{this.qty}}
                            </li>
                        {{/each}}
                        
                    </td>
                    <td>
                        {{this.name}} 
                    </td>
                    <td>
                       {{this.cart.totalPrice}}
                    </td>
                    <td>
                        {{this.address}}
                    </td>
                    <td>
                        {{this.phno}}
                    </td>
                    <td>
                        {{this.alphno}}
                    </td>
                    <td>
                        {{this.zipcode}}
                    </td>
                </tr>
        
        
            {{/each}}
            
    </tbody>
</table>
  </div>
</div>