


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
        <h1 class="text-center">User Profile</h1>
        <hr>
        <h2 class="text-center">My Orders</h2>
    {{#if orders}}
    <table class="table table-hover table-bordered" >
    <thead>
        <tr>
            <th>Order S no.</th>
            <th>Item Name</th>
            <th>Items price</th>
            <th>Items quantity</th>
            <th>Total Price</th>
        
        </tr>
    </thead>
    <tbody> 
            {{# each orders}}
                <tr >
                    <td>sno</td>
                     
                    <td>
                        {{# each this.items}}
                        <li class="list-group-item">
                            {{this.item.title}}
                        </li>
                        {{/each}}
                    </td>
                    <td>
                        {{# each this.items}}
                            <li class="list-group-item">
                            {{this.price}}
                            </li>
                        {{/each}}
                    </td>
                    <td>
                        {{# each this.items}}
                            <li class="list-group-item">
                            {{this.qty}}
                            </li>
                        {{/each}}
                        
                    </td>
                    <td>
                       {{this.cart.totalPrice}}
                    </td>
                </tr>
        
        
            {{/each}}
            
    </tbody>
</table>
{{else}}
<div class="row" style="background-color:white;">
        <div class="mt-5 col-sm-6 col-md-6 col-md-offset-3 col-sm offset-3 mb-5">
        <h1>No Items In cart</h1>
        <img src="/img/emptyCart.JPG">
        </div>
    </div>
{{/if}}
  </div>
  <div class="col-md-1"></div>
</div>

